<form class="row g-3 mt-4" method="post" action="">
  <div class="col-auto">
    <label for="inputSearch" class="visually-hidden">Text search</label>
    <input type="text" name="name" class="form-control" id="inputSearch" placeholder="Text search">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Search</button>
  </div>
</form>